<h1 class="capitalText">
  <i> <strong>TODO</strong> </i>
</h1>

<form #newItemForm="ngForm">
  <div class="input-group">
    <input
      type="text"
      placeholder="Type new item here..."
      class="form-control"
      id="new-item-input"
      #newItemName
      [(ngModel)]="newItemValue"
      name="new-item-input"
    />
    <button
      type="submit"
      class="btn btn-submit"
      (click)="addNewItem(newItemName.value); clearTextBox()"
    >
      Submit
    </button>
  </div>
</form>

<div class="items undone-items">
  <div
    *ngFor="let item of items; let idx = index; trackBy: idx"
    class="checkbox"
  >
    <div *ngIf="!item.done">
      <label *ngIf="!item.done" class="container-undone">
        <input
          type="checkbox"
          value="{{ item.id }}"
          (click)="toggleItem($event.target.value)"
        />
        {{ item.name }}
      </label>
      <div class="delete-item" (click)="deleteItem(item.id)">delete</div>
    </div>
  </div>
</div>

<span> <hr class="delimiter" /> </span>

<div class="items done-items">
  <div
    *ngFor="let item of items; let idx = index; trackBy: idx"
    class="checkbox"
  >
    <div *ngIf="item.done">
      <label class="container-done">
        <input
          type="checkbox"
          checked="true"
          value="{{ item.id }}"
          (click)="toggleItem($event.target.value)"
        />
        {{ item.name }}
      </label>
      <div class="delete-item" (click)="deleteItem(item.id)">delete</div>
    </div>
  </div>
</div>
