body {
    background-color: red;
}

.delimiter {
   border-bottom: 1px solid black;
   margin: 0 1% 0 1%;
}

.undone-items,
.done-items
 {
    margin: 20px;
}

.new-item {
    margin: 20px;
}

.container-undone {
    margin-top: 15px;
}

.container-done {
    text-decoration: line-through;
}

.capitalText {
    margin-left: 20px;
}

.input {
    background-color: red;
}

.input-group {
   margin: 20px;
   width: 50%;
}

.btn-submit {
    color: white;
    background-color: black;
    display: inline-block;
    margin-left: 5px;
}

